<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Registro de Denuncias 911</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('icons/escudo-cochabamba.ico') %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=
AIzaSyDJCxMIk3GTjMB77nK64W9DosMwb6w5oe0&libraries=places"
  type="text/javascript"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body >

  <nav class="navbar navbar-inverse navbar-static-top custom-navbar" role="navigation">
    <div class="container">
      <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-left">
     <% if current_user.role == 1 %>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Usuarios <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
       <li><a href="/users"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Oficiales <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
       <li><a href="/employees/new"><i class="fa fa-plus"></i>Registrar nuevo </a></li>
      <li><a href="/employees"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Delito</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <li><a href="/crimes/new"><i class="fa fa-plus"></i>Registrar </a></li>
      <li><a href="/crimes"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Contravenciones</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <li><a href="/contravertions/new"><i class="fa fa-plus"></i>Registrar </a></li>
      <li><a href="/contravertions"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Unidades</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <li><a href="/patrol_units/new"><i class="fa fa-plus"></i>Registrar nueva unidad de patrulla </a></li>
      <li><a href="/patrol_units"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>

    <%end%>
    <% if  current_user.role == 2  || current_user.role == 1%>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Denuncias</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <li><a href="/complains/new"><i class="fa fa-plus"></i>Registrar nueva denuncia </a></li>
      <li><a href="/complains"><i class="fa fa-list"></i>Ver lista</a></li>
      </ul>
    </li>
    <%end%>

    </ul>
    <%end%>
      <!-- Non-collapsing right-side icons -->
      <%if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right"  >

        <li class="nav navbar-nav navbar-right">
        <a id="sign-out" rel="nofollow" href="/logout">
          <i class="fa fa-fw fa-lock"></i>Cerrar Sesion
        </a>
        </li>
        <li class="nav navbar-nav navbar-right">
          <a href="/users/edit">  <%= current_user.person.first_name %>&nbsp;<%= current_user.person.last_name %>  </a>
        </li>
      </ul>

      <%end%>
      <!--/.nav-collapse -->
    </div>
    <!--/.container -->
  </nav>

<div class="wrapper">

  <div class="content-wrapper white-wall" >
    <section class="content">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <%= yield %>
          </div>
          <div class="col-md-1"></div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer" style="max-height: 60px">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <strong> Nataly Ortiz </strong>
    </div>
    <!-- Default to the left -->
    <strong>  <a href="https://www.ucbcba.edu.bo/"><%= image_tag( 'logo-UCB.png', { height: '40px', width: '30px' } ) %> Universidad Cat&oacute;lica Boliviana "San Pablo"</a> <%= Date.today.year %> </strong> Cochabamba
  </footer>

  <!-- Control Sidebar -->

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div><!-- ./wrapper -->
</body>
</html>
