<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Registro de Denuncias 911</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('icons/escudo-cochabamba.ico') %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=
AIzaSyDJCxMIk3GTjMB77nK64W9DosMwb6w5oe0&libraries=places"
  type="text/javascript"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>





</head>
<body >

  <nav class="navbar navbar-inverse navbar-static-top custom-navbar" role="navigation">
    <div class="container">
      <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-left">
     <% if current_user.role == 1 %>
    <li class="dropdown">
  <h4 class="display-4"> <p class="text-Info"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Usuarios <b class="caret"></b></a></p></h4>
      <ul class="dropdown-menu" id="menu1">
    <h4 class="display-4">   <li><a href="/users"><i class="fa fa-list"></i>Ver Lista</a></li></h4>
      </ul>
    </li>
    <li class="dropdown">
    <h4 class="display-4">  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Oficiales <b class="caret"></b></a></h4>
      <ul class="dropdown-menu" id="menu1">
      <h4 class="display-4">   <li><a href="/employees/new"><i class="fa fa-plus"></i>Registrar nuevo </a></li>
      <h4 class="display-4">  <li><a href="/employees"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <h4 class="display-4">  <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Delito</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <h4 class="display-4">  <li><a href="/crimes/new"><i class="fa fa-plus"></i>Registrar </a></li>
      <h4 class="display-4">  <li><a href="/crimes"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <h4 class="display-4">  <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Contravenciones</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <h4 class="display-4">  <li><a href="/contravertions/new"><i class="fa fa-plus"></i>Registrar </a></li>
      <h4 class="display-4">  <li><a href="/contravertions"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <h4 class="display-4">  <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Administrar Unidades</span> <b class="caret"></b> </a>
      <ul  class="dropdown-menu" id="menu1">
      <h4 class="display-4"><li><a href="/patrol_units/new"><i class="fa fa-plus"></i>Registrar nueva unidad de patrulla </a></li>
      <h4 class="display-4"><li><a href="/patrol_units"><i class="fa fa-list"></i>Ver Lista</a></li>
      </ul>
    </li>

    <%end%>
    <% if  current_user.role == 2  || current_user.role == 1%>
    <li class="dropdown">
      <h4 class="display-4">  <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span>Denuncias</span> <b class="caret"></b> </a></h4>
      <ul  class="dropdown-menu" id="menu1">
        <h4 class="display-4"><li><a href="/complains/new"><i class="fa fa-plus"></i>Registrar nueva denuncia </a></li></h4>
        <h4 class="display-4"><li><a href="/complains"><i class="fa fa-list"></i>Ver lista</a></li></h4>
      </ul>
    </li>
    <%end%>

    </ul>
    <%end%>
      <!-- Non-collapsing right-side icons -->
      <%if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right"  >
          <h4 class="display-4">
        <li class="nav navbar-nav navbar-right">
        <a id="sign-out" rel="nofollow" href="/logout">
          <i class="fa fa-fw fa-lock"></i>Cerrar Sesion
        </a>
        </li>
        <li class="nav navbar-nav navbar-right">
          <a href="/users/edit">  <%= current_user.person.first_name %>&nbsp;<%= current_user.person.last_name %>  </a>
        </li>
      </h4>
      </ul>

      <%end%>
      <!--/.nav-collapse -->
    </div>
    <!--/.container -->
  </nav>
<div class="content-wrapper white-wall" style="min-height: 1078px;">
   <!-- Content Header (Page header) -->
   <section class="content-header">

   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
           <%= yield %>
         </div>
         <div class="col-md-1"></div>
     </div>
   </section><!-- /.content -->
 </div>
  <footer class="footer">
      <div class="container">
        <footer class="main-footer" style="max-height: 60px">
           <!-- To the right -->
           <div class="pull-right hidden-xs">
             <strong> Nataly Ortiz </strong>
           </div>
           <!-- Default to the left -->
           <strong>  <a href="https://www.ucbcba.edu.bo/"><%= image_tag( 'logo-UCB.png', { height: '40px', width: '30px' } ) %> Universidad Cat&oacute;lica Boliviana "San Pablo"</a> <%= Date.today.year %> </strong> Cochabamba
         </footer>
      </div>
</footer>
</body>
</html>
